
  .botonSuma {
    align-content: center;
    background-color: green;
  }
  
  .botonResta {
    align-content: center;
    background-color: red;
  }
  
  .botonReiniciar{
    align-content: center;
    background-color: blue;
  }
  